<!DOCTYPE html>
<html>
  <head>
    <title>RailsBlogApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div>
    <% flash.each do |name, msg| -%>
    <p class="field"><%= msg %></p>
  <% end -%>

      <%= link_to("All Users", users_path)%>
      <%= link_to("New post", new_post_path)%>
    </div>
    <%= yield %>
  </body>
</html>
  